/* 모든 요소의 박스 크기 설정 */
* {
    box-sizing: border-box;
}

/* body 스타일 */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 */
    background: #ebecf0; /* 배경색 */
}

/* 컨테이너 스타일 */
.container {
    border-radius: 10px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
    background: #fff;
    width: 400px;
    padding: 40px;
    text-align: center;
}

/* 제목 스타일 */
h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

/* 폼 스타일 */
form {
    display: flex;
    flex-direction: column; /* 세로 배치 */
    justify-content: center;
    align-items: center;
}

/* 입력 필드 스타일 */
form input {
    background: #eee;
    padding: 16px;
    margin: 8px 0;
    width: 85%;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}

/* 버튼 스타일 */
button {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    background-color: #8b0b02;
    color: white;
}

button:hover {
    background-color: #a40d04;
}

/* 텍스트 스타일 */
p {
    font-size: 14px;
    margin-top: 20px;
}

/* 링크 스타일 */
p a {
    color: #8b0b02;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}
